.symbol_footer {
  position: absolute;
  top: 25%;
  left: 41%;
  &_title {
    font-size: 14px;
    line-height: 0.9;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("background");
  }
}
.symbol_footer_list {
  display: flex;
  &_item {
    border-radius: 50%;
    background-color: getColor("background-f");
  }
}
