.symbol_list {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  &_item:not(:last-child) {
    margin-right: 10px;
  }
  &_image {
    width: 20px;
    height: 20px;
    fill: getColor("border");
    transition: fill $time $cubic;
  }
  &_link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    transition: background $time $cubic;
    &:hover,
    &:focus {
      background-color: getColor("hover");
    }
    &:hover .symbol_list_image,
    &:focus .symbol_list_image {
      fill: getColor("background");
    }
  }
}
